h1 {
 color: lightsalmon;
  font-size: 3vw;
  align-content: center;
}
body{
  background-image: url("https://data1.origin.com/content/dam/originx/web/app/games/dragon-age/dragon-age-inquisition/dragon-age-inquisition-dlc-bundle_gdp-bg.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;

}

